<p id="notice"><%= notice %></p>

<h1>Pick Drops</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Pick up</th>
      <th>Drop off</th>
      <th>Order</th>
      <th>Trip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pick_drops.each do |pick_drop| %>
      <tr>
        <td><%= pick_drop.address %></td>
        <td><%= pick_drop.pick_up %></td>
        <td><%= pick_drop.drop_off %></td>
        <td><%= pick_drop.order %></td>
        <td><%= pick_drop.trip %></td>
        <td><%= link_to 'Show', pick_drop %></td>
        <td><%= link_to 'Edit', edit_pick_drop_path(pick_drop) %></td>
        <td><%= link_to 'Destroy', pick_drop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pick Drop', new_pick_drop_path %>
