<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @pick_drop.address %>
</p>

<p>
  <strong>Pick up:</strong>
  <%= @pick_drop.pick_up %>
</p>

<p>
  <strong>Drop off:</strong>
  <%= @pick_drop.drop_off %>
</p>

<p>
  <strong>Order:</strong>
  <%= @pick_drop.order %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @pick_drop.trip %>
</p>

<%= link_to 'Edit', edit_pick_drop_path(@pick_drop) %> |
<%= link_to 'Back', pick_drops_path %>
