
<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
   <%= f.collection_select :customer_id, Customer.order(:name),:id,:name, include_blank: true %> 

      <%= f.collection_select :driver_id, Driver.order(:last_name),:id,:driver_full_name, include_blank: true %> 



    <%= f.input :amount %>
    <%= f.input :origin_business_name %>
    <%= f.input :origin_address %>
    <%= f.input :final_destination_business_name %>
    <%= f.input :final_destination_address %>
    <%= f.input :distance %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
