
<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
   <%= f.collection_select :customer_id, Customer.order(:name),:id,:name, include_blank: true %> 

      <%= f.collection_select :driver_id, Driver.order(:last_name),:id,:driver_full_name, include_blank: true %> 



    <%= f.input :amount %>
    <%= f.input :origin_business_name %>
    <%= f.input :origin_address %>
    <%= f.input :final_destination_business_name %>
    <%= f.input :final_destination_address %>
    <%= f.input :distance %>
 <span id='all_custom_driver_rate'>
    <%= f.input :custom_driver_rate %>
    <span class='hidden' id='driver_rate_id'>
    <%= f.number_field :driver_rate, :step => "0.01", min: '0.05', max: '0.99'  %>
    </span>

</span>
 
 
    <span id='all_custom_flat_rate'>
    <%= f.input :custom_flat_rate %>
 
    <span class='hidden' id='flat_rate_id'>
      <%= f.input :flat_rate %>
    </span>
    </span>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
$('#trip_custom_driver_rate').click(function() {
    if( $(this).is(':checked')) {
        $("#driver_rate_id, #all_custom_driver_rate").show();
         $("#all_custom_flat_rate").hide();
    } else {
        $("#driver_rate_id").hide();
        $("#all_custom_flat_rate").show();
    }
}); 

$('#trip_custom_flat_rate').click(function() {
    if( $(this).is(':checked')) {
        $("#flat_rate_id, #all_custom_flat_rate").show();
         $("#all_custom_driver_rate").hide();
    } else {
        $("#driver_rate_id").hide();
        $("#all_custom_driver_rate").show();
    }
}); 

$('#trip_custom_flat_rate').click(function() {
    if( $(this).is(':checked')) {
        $("#flat_rate_id").show();
    } else {
        $("#flat_rate_id").hide();
    }
}); 

    $('#trip_custom_driver_rate').click(function() {
        $('#trip_custom_flat_rate').not(this).prop('checked', false);
    });

        $('#trip_custom_flat_rate').click(function() {
        $('#trip_custom_driver_rate').not(this).prop('checked', false);
    });
</script>