<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @driver.last_name %>
</p>

<p>
  <strong>Driver Rate:</strong>
  <%= number_to_currency(@driver.rate) %>
</p>
<p>
  <strong>Dob:</strong>
  <%= @driver.dob %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @driver.hire_date %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Distance</th>
      <th scope="col">Gross</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>

  <tbody>
    <% @driver.trips.each do |driver| %>
    <tr>
      <th><%= driver.distance %></th>
      <td><%= number_to_currency(driver.amount) %></td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
<% end %>
  </tbody>
  
</table>

