<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @driver.last_name %>
</p>

<p>
  <strong>Driver Rate:</strong>
  <%= number_to_currency(@driver.rate) %>
</p>
<p>
  <strong>Dob:</strong>
  <%= @driver.dob %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @driver.hire_date %>
</p>

<p>
 
  <%= link_to "Create Driver Statement", new_driver_driver_statement_path(@driver) %> 
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>


<table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">Trip</th>
      <th scope="col">Distance</th>
      <th scope="col">Gross</th>
      <th scope="col">Driver</th>
      <th scope="col">Customer</th>
    </tr>
  </thead>

  <tbody>

    <% @driver.trips.each do |driver| %>
    <tr>
      <th><%= link_to driver.id, trip_path(driver) %></th>
      <th><%= driver.distance %></th>
      <td><%= number_to_currency(driver.amount) %></td>
      <td>##</td>
      <td>##</td>
    </tr>
<% end %>

  </tbody>
  
</table>

